.DS_store
__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
media
*/media
*/*/media
*/*/*/media
*/*/*/*/media
*.log
*/*.log
*/*/*.log
*/*/*/*.log
*/*/*/*/*.log
doc.md
.claude
.opencode